*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tags */
body{
    font-family: sans-serif;
}

header{
    background-color: #FF6900;
    color: white;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1;
}

main{
    padding-top: 50px;
}

footer{
    background-color: #1A1A1A;
    padding: 20px 0;
    color: white;
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
    margin: 0 10px 0 0;
}

/* Flexbox and layout tools */
.d-flex{
    display: flex;
}

.align-center{
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.align-left{
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.align-right{
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.align-between{
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Containers */
.container{
    width: 1180px;
    margin: 0 auto;
}

.side-header{
    width: 20%;
}

.center-header{
    width: 60%;
}

.col-30{
    width: 30%;
}

.col-70{
    width: 70%;
}

.content{
    width: 100%;
    padding-bottom: 30px;
}

/* Elements */
.logo{
    height: 30px;
}

.head-icon{
    margin: 0 5px;
}

.card{
    position: relative;
}

.card img{
    width: 100%;
}

.hover-img{
    opacity: 0;
    position: absolute;
}

.favourite{
    padding: 5px;
    width: 40px;
    text-align: center;
    font-size: 25px;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0;
}

.label-box{
    text-align: center;
    color: white;
    position: absolute;
    bottom: 40px;
    left: 0;
    z-index: 1;
}

.label{
    padding: 5px;
}

.brand{
    font-size: 12px;
}

.price{
    color: red;
    font-weight: bold;
}

.original-price{
    text-decoration: line-through;
}

.company-name{
    width: 100%;
    padding: 5px 0;;
}

.social-box{
    width: 100%;
    padding: 5px 0;
}

.social-icon{
    margin: 0 5px;
}

/* Utility */
.inline-block{
    display: inline-block;
}

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: #008000;
}